<h1><%= @event_occurrence.event.name %></h1>

<p><%= t('event.location') %>: <%= link_to @event_occurrence.event.location, "http://maps.google.com/?q=#{@event_occurrence.event.location}" %></p>

<h3><%= t('event_occurrence.time') %></h3>
<%= @event_occurrence.time_to_s %>

<h3><%= t('description') %></h3>
<%= simple_format @event_occurrence.event.description %>

<h2><%= t('event_occurrence.registrations') %></h2>

<%= render :partial => 'form', :locals => {:event_occurrence => @event_occurrence} %>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'name' %></th>
      <th><%= t 'phone' %></th>
    </tr>
  </thead>
  <tbody>
    <% @event_occurrence.event_registrations.each do |registration| %>
        <tr>
          <td><%= registration.user.full_name %></td>
          <td><%= link_to registration.user.phone_number, "tel:#{registration.user.phone_number}" %></td>
        </tr>
    <% end %>
  </tbody>
</table>